In [1]:
!pip3 install ipython-sql --user
!pip3 install mysql-connector --user
!pip3 install mysql --user

Collecting ipython-sql
  Downloading ipython_sql-0.5.0-py3-none-any.whl (20 kB)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (8.2.0)
Collecting sqlparse
  Downloading sqlparse-0.4.4-py3-none-any.whl (41 kB)
Requirement already satisfied: ipython-genutils in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting sqlalchemy>=2.0
  Downloading SQLAlchemy-2.0.25-cp39-cp39-win_amd64.whl (2.1 MB)
Collecting prettytable
  Downloading prettytable-3.9.0-py3-none-any.whl (27 kB)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython-sql) (1.1.1)
Collecting typing-extensions>=4.6.0
  Downloading typing_extensions-4.9.0-py3-none-any.whl (32 kB)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.1.2)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.4.4)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (61.2.0)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.18.1)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (3.0.20)
Requirement already satisfied: stack-data in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (2.11.2)
Requirement already satisfied: traitlets>=5 in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (5.1.1)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython->ipython-sql) (0.2.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython->ipython-sql) (0.2.5)
Requirement already satisfied: executing in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.8.3)
Requirement already satisfied: pure-eval in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (0.2.2)
Requirement already satisfied: asttokens in c:\programdata\anaconda3\lib\site-packages (from stack-data->ipython->ipython-sql) (2.0.5)
Installing collected packages: typing-extensions, sqlparse, sqlalchemy, prettytable, ipython-sql
Successfully installed ipython-sql-0.5.0 prettytable-3.9.0 sqlalchemy-2.0.25 sqlparse-0.4.4 typing-extensions-4.9.0

  WARNING: The script sqlformat.exe is installed in 'C:\Users\sanga\AppData\Roaming\Python\Python39\Scripts' which is not on PATH.
  Consider adding this directory to PATH or, if you prefer to suppress this warning, use --no-warn-script-location.

Collecting mysql-connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
Building wheels for collected packages: mysql-connector
  Building wheel for mysql-connector (setup.py): started
  Building wheel for mysql-connector (setup.py): finished with status 'done'
  Created wheel for mysql-connector: filename=mysql_connector-2.2.9-cp39-cp39-win_amd64.whl size=247961 sha256=17d217ea2d5007a3a774cdaf7357b432572ba16a61f11871c581099adda82130
  Stored in directory: c:\users\sanga\appdata\local\pip\cache\wheels\7b\14\39\5aad423666e827dfe9a1fbcd111ac17171e7c9865d570780ce
Successfully built mysql-connector
Installing collected packages: mysql-connector
Successfully installed mysql-connector-2.2.9
Collecting mysql
  Downloading mysql-0.0.3-py3-none-any.whl (1.2 kB)
Collecting mysqlclient
  Downloading mysqlclient-2.2.1-cp39-cp39-win_amd64.whl (202 kB)
Installing collected packages: mysqlclient, mysql
Successfully installed mysql-0.0.3 mysqlclient-2.2.1

In [2]:
#get all the data into a dictionary and a list
#Starting the database connection and setting up connection values
import mysql
import mysql.connector

mydb = mysql.connector.connect(
  host="localhost",
  user="nsangani",
  passwd="nsangani",
  database="nsangani_db"
)

ModuleNotFoundError: No module named 'mysql'

In [ ]:
#create a new 'cursor' object to run commands
mycursor = mydb.cursor()

#execute SQL commands using the cursor
mycursor.execute("CREATE TABLE customers (name VARCHAR(255), address VARCHAR(255))")
print(mycursor)

In [ ]:
#let's look and see what tables already exist
mycursor.execute("SHOW TABLES")

for x in mycursor:
  print(x)

In [ ]:
#Now let's make the table better by altering it to give it an ID that automatically increments
mycursor.execute("ALTER TABLE customers ADD COLUMN id INT AUTO_INCREMENT PRIMARY KEY")

In [ ]:
#The SQL statement is a normal string, so we can break it out into seperate variables
#maniuplate those variables, and then pass it to SQL to upload.

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = ("John", "Highway 21")

#just like in a print statement, we'll use %s to indicate that we are passing string values.
#then use a tuple to pass both variables in one go
mycursor.execute(sql, val)

#execute really sounds like it should..well, execute a command
#but it doesn't really! We have to commit the change to the database
mydb.commit()

#By default, we won't get any logs of this action, so if we want to know more about it we can access
#the mycursor object and print the results
print(mycursor.rowcount, "record inserted.")

In [ ]:
#But John, what if I want to insert lots of rows at the same time?
#Excellent question, in that case you will use execute many, which will take a command
#and then a list of values to pass.

sql = "INSERT INTO customers (name, address) VALUES (%s, %s)"
val = [
  ('Peter', 'Lowstreet 4'),
  ('Amy', 'Apple st 652'),
  ('Hannah', 'Mountain 21'),
  ('Michael', 'Valley 345'),
  ('Sandy', 'Ocean blvd 2'),
  ('Betty', 'Green Grass 1'),
  ('Richard', 'Sky st 331'),
  ('Susan', 'One way 98'),
  ('Vicky', 'Yellow Garden 2'),
  ('Ben', 'Park Lane 38'),
  ('William', 'Central st 954'),
  ('Chuck', 'Main Road 989'),
  ('Viola', 'Sideway 1633')
]

mycursor.executemany(sql, val)

mydb.commit()

print(mycursor.rowcount, "was inserted.")
print("last record inserted, ID:", mycursor.lastrowid)

In [ ]:
#creating the employees table
mycursor.execute("""CREATE TABLE Employee(  
    ID VARCHAR(4) NOT NULL,
    First_Name VARCHAR(40),  
    Last_Name VARCHAR(40),  
    Start_Date DATE,  
    End_Date DATETIME,  
    Salary int(8),
    City VARCHAR(20),
    Designation VARCHAR(100)
    );""")

In [ ]:
#now add a some employees
mycursor.execute("INSERT INTO Employee(ID, First_Name, Last_Name, Start_Date, End_Date, Salary, City, Designation) VALUES ('01','Jason','Martin', '2014-02-24', null, 1234.56, 'Toronto', 'Programmer');")
mydb.commit()

mycursor.execute("INSERT INTO Employee(ID, First_Name, Last_Name, Start_Date, End_Date,  Salary, City, Designation) VALUES ('02','Alison','Mathews','2010-06-15', '2014-12-24', 2234.78, 'Vancouver','Tester');")
mydb.commit()

#this example uses NOW() to get the current date and time
mycursor.execute("INSERT INTO Employee(ID, First_Name, Last_Name, Start_Date, End_Date,  Salary, City, Designation) VALUES ('03','James','Smith','2012-11-25',  NOW(), 2400, 'Vancouver','Tester');")
mydb.commit()

#this example uses CURDATE() to get just the current date
mycursor.execute("INSERT INTO Employee(ID, First_Name, Last_Name, Start_Date, End_Date,  Salary, City, Designation) VALUES ('04','Celia','Burke',CURDATE(),  null, 3334.78, 'Vancouver','Manager');")
mydb.commit()

#This example uses CURRENT_TIMESTAMP() which is a synonym for NOW()
mycursor.execute("INSERT INTO Employee (ID, First_Name, Last_Name, Start_Date, End_Date,  Salary, City, Designation) VALUES ('05', 'Robert', 'Larry','2011-01-15', CURRENT_TIMESTAMP( ), 6334.78, 'New York', 'Manager');")
mydb.commit()

In [ ]:
#using a subqery to get the end_date time value
#e is just the name we are using in the subselection as the table alias
mycursor.execute('SELECT TIME(End_Date) from (SELECT End_Date from Employee where id = 3) AS e;')
records = mycursor.fetchall()
for x in records:
  print(x[0])

In [ ]:
#Select people that started on the 7th day of the week
mycursor.execute('SELECT * FROM `Employee` WHERE DAYOFWEEK(Start_Date) like 7;')
records = mycursor.fetchall()
for x in records:
  print(x)

In [ ]:
#get the start month for all employees
mycursor.execute('SELECT MONTHNAME(Start_Date) as Start_Month FROM `Employee`;')
records = mycursor.fetchall()
for x in records:
  print(x)

In [ ]:
#use concat to merge id,first,last
mycursor.execute('SELECT CONCAT(ID,First_Name,Last_Name) as  Info from Employee;')
records = mycursor.fetchall()
for x in records:
  print(x)

In [ ]:
#use concat with seperator to merge first and last names but seperate with some characters
mycursor.execute("SELECT CONCAT_WS(', ',First_Name,Last_Name)  as Info from Employee;")
records = mycursor.fetchall()
for x in records:
  print(x)

In [ ]:
#upper will cast all the letters to upper case
mycursor.execute("SELECT UPPER(First_Name) from Employee;")
records = mycursor.fetchall()
for x in records:
  print(x)

In [ ]:
#lower will cast all the letters to lower case
mycursor.execute("SELECT LOWER(First_Name) from Employee;")
records = mycursor.fetchall()
for x in records:
  print(x)

In [ ]:
mydb.close()